.section-title1{
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px; 
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.section-title2 {
  color: #FD9222;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px; 
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.slide-container{
  padding-bottom: 33px;
}



.products-list{
  list-style: none;
  padding-left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 18px;
  margin-top: 50px;
}

.products-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--white-color);
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.10);
  max-width: 100%;
  padding: 32px 52px;

  transition: border var(--duration) var(--time-function);
}

.products-title:hover,
.products-title:focus{
  border: 1px solid var(--accent-color);
}

.products-title:hover .products-content-name,
.products-title:focus .products-content-name{
  color: var(--accent-color);
}

.products-title:hover .products-price,
.products-title:focus .products-price{
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  color: var(--white-color);
}


.products-item{
  margin-bottom: 8px;

  transition: transform var(--duration) var(--time-function);
}

// Additional CSS-swiper
// .swiper{
//   margin-left: auto;
//   margin-right: auto;
//   max-width: 335px;
//  }

.products-content{
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 18px;
}

.products-content-name{
color: #111;
font-size: 18px;
font-weight: 600;
line-height: 24px; 
letter-spacing: 1.33;
text-transform: uppercase;

margin-bottom: 2px;
text-align: center;

transition: color var(--duration) var(--time-function);
}

.products-content-text{
  color: rgba(17, 17, 17, 0.70);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.17;

  text-align: center;

}

/* BUTTON */
.products-price{
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 94px;
  padding: 8px 20px;

  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.10);
  background: var(--white-color);

  color: #111;
  font-size: 14px;
  font-weight: 600;

  margin: 0 auto;
  
  transition: background-color var(--duration) var(--time-function),
  color var(--duration) var(--time-function),
  border var(--duration) var(--time-function);
}

.products-price:hover,
.products-price:focus{
  color: var(--accent-color);
}

// Additional CSS-swiper
// .swiper-pagination{
//  margin-bottom: 400px;
// }

// Additional CSS-swiper
// .swiper{
//   width: 100%;
//   height: 100%;
// }

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  gap: 13px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0;
  height: 13px;
}

.swiper-pagination-bullet {
  width: 13px;

  background: rgba(17, 17, 17, 0.1);
  opacity: 1;
}

// Additional CSS-swiper
// .swiper{
//  margin-left: auto;
//  margin-right: auto;
//  max-width: 335px;
// }

.swiper-pagination-bullet-active:hover,
.swiper-pagination-bullet-active:focus {
  width: 28px;
  border-radius: 50px;
  background-color: var(--accent-color);
}


@media screen and (min-width: 768px) {
  .products-title {
    max-width: 270px;
    padding: 32px 20px;
    
  }

  .slide-container {
    padding-bottom: 45px;
  }

}