<section
  class="section our-product-section"
  data-aos="fade-up"
  data-aos-anchor-placement="center-bottom"
>
  <div class="container">
    <h2 class="products_title title">
      Our <span class="title-decor">products</span>
    </h2>
    <div class="swiper">
      <ul class="swiper-wrapper product-list">
        <li class="swiper-slide product-item">
          <div class="swiper-container">
            <img
              srcset="./images/orange.jpg 1x, ./images/orange@2x.jpg 2x"
              src="./images/orange.jpg"
              width="230"
              height="201"
              alt="orange"
              class="product-images"
            />
            <div class="product-content">
              <h3 class="item-title">Orange</h3>
              <p class="item-decsription">Dark Chocolate</p>
              <button type="button" class="button">45 UAH</button>
            </div>
          </div>
        </li>
        <li class="swiper-slide product-item">
          <div class="swiper-container">
            <img
              srcset="
                ./images/apple-and-cranberry.jpg    1x,
                ./images/apple-and-cranberry@2x.jpg 2x
              "
              src="./images/apple-and-cranberry.jpg"
              width="230"
              height="201"
              alt="apple-and-cranberry"
              class="product-images"
            />
            <div class="product-content">
              <h3 class="item-title">APPLE&CRANBERRY</h3>
              <p class="item-decsription">Milk Chocolate</p>
              <button type="button" class="button">50 UAH</button>
            </div>
          </div>
        </li>

        <li class="swiper-slide product-item">
          <div class="swiper-container">
            <img
              srcset="
                ./images/lime-and-sea-salt.jpg    1x,
                ./images/lime-and-sea-salt@2x.jpg 2x
              "
              src="./images/lime-and-sea-salt.jpg"
              width="230"
              height="201"
              alt="apple-and-cranberry"
              class="product-images"
            />
            <div class="product-content">
              <h3 class="item-title">LIME&SEA SALT</h3>
              <p class="item-decsription">Dark Chocolate</p>
              <button type="button" class="button">66 UAH</button>
            </div>
          </div>
        </li>
        <li class="swiper-slide product-item">
          <div class="swiper-container">
            <img
              srcset="./images/pineapple.jpg 1x, ./images/pineapple@2x.jpg 2x"
              src="./images/pineapple.jpg"
              width="230"
              height="201"
              alt="apple-and-cranberry"
              class="product-images"
            />
            <div class="product-content">
              <h3 class="item-title">PINEAPPLE</h3>
              <p class="item-decsription">Dark Chocolate</p>
              <button type="button" class="button">54 UAH</button>
            </div>
          </div>
        </li>
        <!--   -->
        <li class="swiper-slide product-item">
          <div class="swiper-container">
            <img
              srcset="./images/classic.jpg 1x, ./images/classic@2x.jpg 2x"
              src="./images/classic.jpg"
              width="230"
              height="201"
              alt="apple-and-cranberry"
              class="product-images"
            />
            <div class="product-content">
              <h3 class="item-title">CLASSIC</h3>
              <p class="item-decsription">Milk Chocolate</p>
              <button type="button" class="button">45 UAH</button>
            </div>
          </div>
        </li>
        <li class="swiper-slide product-item">
          <div class="swiper-container">
            <img
              srcset="./images/honey.jpg 1x, ./images/honey@2x.jpg 2x"
              src="./images/honey.jpg"
              width="230"
              height="201"
              alt="apple-and-cranberry"
              class="product-images"
            />
            <div class="product-content">
              <h3 class="item-title">Honey</h3>
              <p class="item-decsription">Milk Chocolate</p>
              <button type="button" class="button">50 UAH</button>
            </div>
          </div>
        </li>
        <li class="swiper-slide product-item">
          <div class="swiper-container">
            <img
              srcset="
                ./images/roasted-fruits.jpg    1x,
                ./images/roasted-fruits@2x.jpg 2x
              "
              src="./images/roasted-fruits.jpg"
              width="230"
              height="201"
              alt="apple-and-cranberry"
              class="product-images"
            />
            <div class="product-content">
              <h3 class="item-title">ROASTED FRUITS</h3>
              <p class="item-decsription">Dark Chocolate</p>
              <button type="button" class="button">66 UAH</button>
            </div>
          </div>
        </li>
        <li class="swiper-slide product-item">
          <div class="swiper-container">
            <img
              srcset="
                ./images/classic-white.jpg    1x,
                ./images/classic-white@2x.jpg 2x
              "
              src="./images/classic-white.jpg"
              width="230"
              height="201"
              alt="apple-and-cranberry"
              class="product-images"
            />
            <div class="product-content">
              <h3 class="item-title">CLASSIC</h3>
              <p class="item-decsription">White Chocolate</p>
              <button type="button" class="button">54 UAH</button>
            </div>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
